*{
    margin: 0;
    padding: 0;

  
}
body{
   height:1400px;
   overflow-x: hidden;
 
}
nav ul{
    padding:0px 450px;
    padding-top:15px;
    
 
 }
 nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
 }
 nav ul li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
 }
 nav ul li a:hover{
    color: brown;
 }
 button{
    position: relative;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    right:180px;
    bottom: 35px;
    background-color:#9B3922 ;
    color:white;
    border: solid 1px #9B3922 ;
 }
 .container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-gap: 1em;
    padding-left: 130px;
    padding-top: 5px;
    position: relative;
    top:50px;
  
 
  }
  .item1{
    grid-row: 1/12;
    grid-column: 1/3;
    box-shadow: 0px 0px 2px 2px whitesmoke;
    background-color: #FFEBEB;
  }
 .item2{
    grid-row: 1/12;
    grid-column: 3/12;
    border: solid black 1px;
 }
 .BX{
    width: 170px;
    height: 170px;
    box-shadow: 0px 0px 2px 2px grey;
    position: relative;
    left:  20px;
    top: 15px;
    background-image: url(kk.webp);
    background-size: cover;
 }
 .item1 h1{
    position: relative;
    left: 300px;
    top:15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
 }
 .item1 p{
    position: relative;
    top:80px;
    font-size: 17px;
    padding: 10px;
 }
 
 .post{
    height: 400px;
    width: 190px;
    background-color:#9B3922;
    position: relative;
    top: 120px;
   
    left: 13px;
 }
 .post h1{
    position: relative;
    left: 15px;
    top: 50px;
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
 }
 .post h2{
   position: relative;
   top: 80px;
   color: white;
   font-family: 'Times New Roman', Times, serif;
   left: 15px;
 }
 .bt{
    position: relative;
 
 }
 
 
  .bt button{
    position: relative;
    left: 20px;
   
    height:20px;
    width: 140px;
    border-radius: 0px;
    border: solid white;
   
    
 }
 .hort{
    width: 150px;
    height: 2px;
    background-color:white;
    position: relative;
    top: 120px;
    left: 10px;
 }
 .sub{
    position: relative;
    left: 20px;
    top: 150px;
    width: 140px;
    height: 40px;
    background-color: white;
    border-radius:0px;
    border: solid 1px white;
    color: black;
    font-size: 20px;
 }

 
  .pic{
    display: flex;
    gap: 5px;
    
  }
 .img1{
    width: 400px;
    height: 400px;
    background-color: black;
    background-image: url(1.webp);
    background-size: cover;
 }
 .img2{
    width: 400px;
    height: 400px;
    background-color: black;
    background-image:url(kk.webp);
    background-size: cover;
 }
 .img3{
    width: 400px;
    height: 400px;
    background-color: black;
    background-image: url(2.webp);
    background-size: cover;
 }
 .hd{
    position: relative;
    left: 390px;
    background-color: white;
    bottom: 20px;
    width: 250px;
 }
 .hd h1{
    top: 5px;
 }
 .trans{
    display: flex;
    padding-left: 30px;
    top: 20px;
    position: relative;
   
 
 
 }
 .ee{
    width: 200px;
    height: 320px;
    background-color: blueviolet;
    background-image: url(brsh.webp);
    background-size: cover;
    border: solid whitesmoke 0.2px;
 
 
 }
 .ff{
    width: 300px;
    height: 320px;
    background-color:white;
    border: solid whitesmoke 0.2px;
    background-color: whitesmoke;
 
 }
 .trans1{
    display: flex;
    padding-left: 30px;
    position: relative;
    top: 40px;
   
 
 }
 .eee{
    width: 200px;
    height: 320px;
    background-color: blueviolet;
    background-image: url(cf.webp);
    background-size: cover;
    border: solid whitesmoke 0.2px;
 
 }
 .fff{
    width: 300px;
    height: 320px;
    background-color:white;
    border: solid whitesmoke 0.2px;
    background-color: whitesmoke;
 
 }
 .trans h1{
    position: relative;
    left:10px;
    top: 10px;
    font-size: 25px;
 
 
 }
 .trans1 h1{
    position: relative;
    left:10px;
    top: 10px;
    font-size: 25px;}
    .trans1 p{
       position: relative;
       top: 50px;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-weight: lighter;
       left: 10px;
    }
    .trans p{
       position: relative;
       top: 50px;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-weight: lighter;
       left: 10px;
    }
    .item2 button{
       position: relative;
       left: 200px;
       top: 80px;
       border:solid white ;
       border-radius:0px;
       height: 50px;
       background-color: brown;
       color: white;
    }
  .cntn{
 
    background-color:#FFEBEB;
    height: 650px;
    width: 400px;
    position: relative;
    left: 580px;
    bottom: 670px;
  }
  .cnt{
    display: grid;
    background-color:#FFEBEB;
    width: 300px;
    height: 500px;
    position: relative;
    top: 100px;
    left: 50px;
 column-gap:  5px;
 row-gap: 5px;
 }
 .col1{
    grid-column-start: 1;
   grid-column-end: 2;
   background-color: blue;
   grid-row-start: 1;
   grid-row-end: 1;
   background-image: url(cam.webp);
   background-size: cover;
 
 }
 .col2{
    grid-column-start: 2;
   grid-column-end: 3;
   background-color: blueviolet;
   grid-row-start: 1;
   grid-row-end: 1;
   background-image: url(05.jpg);
   background-size: cover;
 }
 .col3{
    grid-column-start: 2;
   grid-column-end: 3;
   background-color:brown;
   grid-row-start: 2;
   grid-row-end: 3;
   background-image: url(cd.jpg);
   background-size: cover;
 }
 .col4{
    grid-column-start: 1;
   grid-column-end: 2;
   background-color:aquamarine;
   grid-row-start: 2;
   grid-row-end: 2;
   background-image: url(bl.jpg);
   background-size: cover;
 }
 .icn{
    display: flex;
    background-color:#FFEBEB;
    position: relative;
    top: 200px;
    height: 100px;
    gap: 10px;
 }
 .icn .fb{
    position: relative;
    left: 50px;
    font-size: 20px;
    top: 50px;
 }
 .FF{
    position: relative;
   top: 200PX;
   left: 40PX;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: light;
 }
 .container-fluid{
    width: 1600px;
    height: 70px;
   background-color: #91301a;
   position: relative;
   bottom: 430px;
   right: 500px;
   
 }
 .container-fluid p{
    color: white;
    font-size: 20px;
    position: relative;
    left: 700px;
   padding: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 